



<div class="container">
    <div class="row">
        <div class="col">
            <h1>Way To Success - Contract Staff Management</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p ><a href="staffEntry"><b>Staff Entry</b> &nbsp; &nbsp;&nbsp;</a>
           <a href="workAllotment"><b>Work Allotment</b>  &nbsp; &nbsp;&nbsp;</a>
            <a href="remuneration"><b>Remuneration</b> &nbsp; &nbsp;&nbsp;</a>
           <!--<a href="viewReports"><b>View Reports</b>  &nbsp; &nbsp;&nbsp;</a>-->
        </div>        
    </div>
</div>
<!--<app-reminder></app-reminder>-->
